# Игнорирование директории IDE JetBrains (.idea)
.idea

# Игнорирование файла .gitignore
.gitignore

# Игнорирование лог-файлов
*.log

# Игнорирование скомпилированных файлов Python
__pycache__

# Игнорирование виртуального окружения Python
venv

# Игнорирование настроек Visual Studio Code
.vscode/

# Игнорирование автоматически сгенерированных клиентских библиотек для Swagger
swagger_client/

# Игнорирование директории с изображениями
pic/

# Игнорирование файла с переменными окружения
.env

# Игнорирование Dockerfile
Dockerfile

# Игнорирование файла docker-compose
docker-compose.yml
